<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>item-view</title>
</head>
<body>
<div>
    <div>
        <h2>상품 조회</h2>
    </div>
    <p>상품명 : <span th:text="${item.itemName}">상품명</span></p>
    <p>첨부파일 : <a th:if="${item.attachFile}" th:href="|/attach/${item.id}|" th:text="${item.getAttachFile().getUploadFileName()}"></a></p>
    <p><img th:each="imageFile : ${item.imageFiles}" th:src="|/images/${imageFile.getStoreFileName()}|" width="150" height="150"/></p>
</div>

</body>
</html>